body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.header {
    display: flex;
    justify-content: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    gap: 35%;
    background-color: #1D267D;
    box-shadow: 10px 0px 10px 8px white;
}

.header-menu {
    display: flex;
    gap: 2em;
    color: white;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/224924/pexels-photo-224924.jpeg");
}

.header-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 1em;
    border-radius: 0.5em;
    background-color: #1D267D;
    color: white;
    opacity: 1;
    padding: 2.5rem 4rem;
}

.header-content-box img {
    height: 10em;
    width: 15em;
}

.title {
    font-size: larger;
    font-weight: 900em;
}

.tagline {
    font-size: medium;
    font-weight: 200px;
}

.header-menu a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 900px;
}

.menuButton {
    display: none;
}

.menu-container {
    display: none;
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menuMobile a {
    color: black;
}

.about-us,
.services {
    margin: auto;
    padding: 5%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0C134F;
    background-color: #8CABFF;
}

li {
    margin: 20px;
}

.services {
    color: white;
    background-color: #1D267D;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.service-list h3 {
    width: 18rem;
    height: 9rem;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0C134F;
    color: white;
    box-shadow: 4px 4px 4px white;
}

.gallery {
    background-color: #1D267D;
    color: white;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-container {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    align-items: center;

}

.gallery-container img {
    width: 20em;
    height: 20em;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #8CABFF;
    color: #0C134F;
}

a {
    text-decoration: none;
}

.bottom-footer {
    height: 20vh;
    padding-top: 1rem;
    display: flex;
    background-color: #0C134F;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;

}

@media (max-width: 950px) {
    .header {
        display: flex;
        gap: 70%;
    }
    .header-content-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: max-content;
        gap: 1em;
        border-radius: 0.5em;
        background-color: #1D267D;
        color: white;
        opacity: 1;
        padding: 1rem 1rem;
        margin: 1rem;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        background-color: white;

        padding: 10%;
        gap: 40px;
    }

    .header-menu {
        display: none;
    }

    .menuButton {
        display: block;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 480px) {
    .header {
        padding: 1rem 0rem;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        background-color: white;

        padding: 10%;
        gap: 40px;
    }
    .header-content-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: max-content;
        gap: 1em;
        border-radius: 0.5em;
        background-color: #1D267D;
        color: white;
        opacity: 1;
        padding: 1rem;
        margin: 1rem;
    }
    .header-menu {
        display: none;
    }

    .menuButton {
        display: block;
        display: flex;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
        color: #0C134F;
    }

    a {
        text-decoration: none;
    }

    .bottom-footer {
        height: 20vh;
        padding-top: 1rem;
        display: flex;
        background-color: #0C134F;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }

    .social-media {
        display: flex;
        gap: 10px;
        justify-content: center;

    }
}